:root {
    --azul:#03318C;
    --morado:#5D04D9;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--morado) ;
    box-shadow: 0px 8px 8px rgb(176, 176, 176);
    padding-top: 15px;
    padding-bottom: 15px;
}
.LogoTop {
    width: 85%;
    height: 50;
    max-width: 300px;
}

/*  main section */
main {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
main > section {
    width: 100%;
}

main > section:nth-child(1){
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-bottom: 50px;
}
main > section:nth-child(2){
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.encabezados{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.encabezados label{
    font-size: x-large;
    font-weight: bold;
    width: 50%;
}
.productos_box {
    /* border: 1px solid black; */
    width: 80%;
    /* height: 50vh; */
    box-shadow: -18px 15px 10px gray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: scroll;
    
}

/* stilo de card */
.card {
    background-color: #5D04D9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid black;
    border-radius: 5px;
    gap:5px;
    padding: 10px;
    color: white;
    padding-right: 12;
    box-shadow: -5px 5px 5px gray;
    margin-bottom: 20px;
}

.card > img {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    align-self: center;
    margin-bottom: 10px;
    
}

.card-container--value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-weight: bolder;
    font-size: larger;
}

.formulario_box {
    
    width: 50%;
    height: 50%;

}

.formulario_box > form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

input[type='text'] {
    border-radius: 100px;
    height: 50px;
    font-size: larger;
    padding-left: 20px;
    border: 2px solid var(--azul);
}

#label_nombre{
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
    font-size: larger;
    color:var(--azul);
    font-weight: bold;
}
#label_precio{
    position: absolute;
    margin-top: 104px;
    margin-left: 20px;
    font-size: larger;
    color:var(--azul);
    font-weight: bold;
}
#label_imagen{
    position: absolute;
    margin-top: 190px;
    margin-left: 20px;
    font-size: larger;
    color:var(--azul);
    font-weight: bold;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.botones > input{
    width: 45%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--azul);
}

.botones > input[type='submit']{
    background-color: var(--azul);
    color: white;
}

.botones > input[type='reset']{
    color: var(--azul);
    background-color: white;
}

footer {
    background-color: #5d04d9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 150px;
    box-shadow: 0px -8px 8px rgb(176, 176, 176);
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

footer > div > label:nth-child(2){
    color: white;
    font-size: small;
    font-weight: 400;
}

footer > div > label:nth-child(3){
    color: white;
    font-size: smaller;
    font-weight:100;
}

@media (min-width:480px){
    main {
        flex-direction: row;
    }
    main > section {
        width: 50%;
    }
    main > section:nth-child(1){
        flex-wrap: wrap;
    }

    .productos_box {
        height: 50vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        justify-items: stretch;
        align-items: start;
        overflow:scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    }
    .productos_box::-webkit-scrollbar{
        display: none;
    }
    .card > img {
    }
    .card {
        
    }
    footer {
        height: 200px;
    }
    
}